* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slategray;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    bottom: 0;
    position: fixed;
    width: 100vw;
    background-color: gray;
}
